body{

    background-color: #424a52;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
}

header{
    
    font-family: "Noto Sans", sans-serif;
    color: white;
    background-color: #1e2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;

    
    
}

.menutab{
  list-style: none;
  


}

.menutab li{
    display: inline-block;
}




.rectangle {
    height: 20px;
    width: 40px;
    
   
}

.rectangle.shadeRect{
    background-color: red;

}
