html{
    width: 400px;
    
}

body{

    background-color: #424a52;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    width: 400px;
}

header{
    
    font-family: "Noto Sans", sans-serif;
    color: white;
    background-color: #1e2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;

    
    
}

.menutab{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  


}

.color-themes{
    list-style: none;
    display: flex;
}



.menubutton{
    background-color: darkslategray;
    cursor: pointer;
    outline: none;
    border: none;

}




.rectangle {
    height: 20px;
    width: 40px;
    
    
   
}

.rectangle.shadeRect{
    background-color: red;

}

.shade-slide{
    position: relative;
    left: 80%;

}

.rectangle.monochrome{
    background-color: white;

}

.rectangle.complement{
    background-color: white;

}

.rectangle.analog{
    background-color: white;

}

.rectangle.split-comp{
    background-color: white;

}

.rectangle.triad{
    background-color: white;

}

.rectangle.tetra{
    background-color: white;

}


