html
{
    width: 400px;
}

body
{
    color: white;
    background-color: #19171E;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    width: 400px;
}

header
{
    font-family: "Noto Sans", sans-serif;
    color: white;
    background-color: #1e2124;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.horizontal-container
{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.stack-container
{
    display: flex;
    flex-direction: column;
}

.text-separator
{
    width: 150px;
}

.theory-box
{
    background-color: #25222C;
    border-color: #2F2B38;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    margin: 5px;
}

.history-box
{
    width: 100%;
    background-color: #201E25;
}

.menu-tab
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button
{
    background-color: darkslategray;
    cursor: pointer;
    outline: none;
    border: none;
}

.rectangle {
    height: 20px;
    width: 40px;
    background-color: white;
    border-color: #2F2B38;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.color-container
{
    display: flex;
    flex-direction: column;
}


